@import "src/styles/colors";

:host {
  ::ng-deep mat-card {
    width: 300px;
    margin: 5% auto;
    text-align: center;
  }
}

.title {
  margin: 0 auto;
  color: $color-black-main;
}

.invalid-feedback {
  width: 230px;
  margin: 0 auto;
  text-align: left;
  position: relative;
  bottom: 10px;
  color: $color-error;
}

.header_logo {
  width: 50px;
  font-weight: 900;
  color: $color-crepuscule;
}

.image-container {
  padding: 15px 0;
}

.image-container img {
  margin: 0 auto;
  max-width: 180px;
  width: 100%;
}

.about-private {
  margin: 20px 30px;
  text-align: start;
}

.about-private a {
  text-decoration: none;
  color: $color-crepuscule;
  font-weight: 900;
}

.login {
  margin-right: 10px;
}
