<mat-card *ngIf="client; else spinner">
  <div class="client-card-title">
    <div class="client-card-title__id">{{ client.id }}</div>
    <div class="client-card-title__fullname">
      {{ client.name | uppercase }} {{ client.surname | uppercase }}
    </div>
    <mat-card-actions>
      <button mat-stroked-button color="primary" (click)="goBack()">
        <mat-icon>arrow_back_ios</mat-icon>
        Back
      </button>
      <ng-template [ngIf]="editMode" [ngIfElse]="editModeButtons">
        <button
          mat-raised-button
          color="primary"
          (click)="submit()"
          [disabled]="clientForm.invalid || sending"
        >
          <ng-template [ngIf]="sending" [ngIfElse]="saveText">
            <mat-spinner class="custom-spinner" diameter="20"></mat-spinner>
            Saving
          </ng-template>
          <ng-template #saveText>
            <mat-icon>save</mat-icon>
            Save
          </ng-template>
        </button>
        <button mat-raised-button color="warn" (click)="disableEditMode()">
          <mat-icon>cancel</mat-icon>
          Cancel
        </button>
      </ng-template>
      <ng-template #editModeButtons>
        <button mat-raised-button color="primary" (click)="enableEditMode()">
          <mat-icon>edit</mat-icon>
          Edit data
        </button>
        <button mat-raised-button color="warn" (click)="acceptToRemove()">
          <mat-icon>delete</mat-icon>
          Remove client
        </button>
      </ng-template>
    </mat-card-actions>
  </div>
  <mat-card-content>
    <form class="client-card-grid" [formGroup]="clientForm">
      <div class="client-card-grid__col">
        <app-user-icon class="user-icon" [userData]="client">
          <button
            mat-button
            id="changeAvatar"
            *ngIf="editMode"
            (click)="openDialog()"
          >
            <mat-icon>photo_camera</mat-icon>
          </button>
        </app-user-icon>
      </div>
      <div class="client-card-grid__col">
        <div class="client-info-row">
          <div class="client-info-row__item">
            <mat-form-field
              *ngIf="editMode; else clientLastname"
              appearance="fill"
            >
              <mat-label>Lastname</mat-label>
              <input formControlName="surname" matInput />
              <mat-error *ngIf="clientForm.controls['surname'].invalid"
                >This field is required</mat-error
              >
            </mat-form-field>
            <ng-template #clientLastname>
              <h5 class="client-info-row__title">Lastname</h5>
              <div class="client-info-row__content">
                {{ client.surname | titlecase }}
              </div>
            </ng-template>
          </div>
          <div class="client-info-row__item">
            <mat-form-field
              *ngIf="editMode; else clientFirstname"
              appearance="fill"
            >
              <mat-label>Firstname</mat-label>
              <input matInput formControlName="name" />
              <mat-error *ngIf="clientForm.controls['name'].invalid"
                >This field is required</mat-error
              >
            </mat-form-field>
            <ng-template #clientFirstname>
              <h5 class="client-info-row__title">Firstname</h5>
              <div class="client-info-row__content">
                {{ client.name | titlecase }}
              </div>
            </ng-template>
          </div>
          <div class="client-info-row__item">
            <mat-form-field *ngIf="editMode; else clientSex" appearance="fill">
              <mat-label>Gender</mat-label>
              <mat-select formControlName="sex">
                <mat-option value="male">{{ gender.MALE }}</mat-option>
                <mat-option value="female">{{ gender.FEMALE }}</mat-option>
              </mat-select>
            </mat-form-field>
            <ng-template #clientSex>
              <h5 class="client-info-row__title">Gender</h5>
              <div class="client-info-row__content">
                {{ client.sex | uppercase }}
              </div>
            </ng-template>
          </div>
        </div>
        <div class="client-info-row">
          <div class="client-info-row__item">
            <mat-form-field *ngIf="editMode; else clientDob" appearance="fill">
              <mat-label>Date of birth</mat-label>
              <input
                matInput
                [matDatepicker]="dob"
                formControlName="birthday"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="dob"
              ></mat-datepicker-toggle>
              <mat-datepicker #dob startView="multi-year"></mat-datepicker>
              <mat-hint>It can only be a year</mat-hint>
              <mat-error *ngIf="clientForm.controls['birthday'].invalid"
                >This field is required</mat-error
              >
            </mat-form-field>
            <ng-template #clientDob>
              <h5 class="client-info-row__title">Date of Birth</h5>
              <div class="client-info-row__content">
                {{ client.birthday | date: "yyyy" }} ({{
                  getAge(client.birthday)
                }})
              </div>
            </ng-template>
          </div>
          <div class="client-info-row__item">
            <mat-form-field
              *ngIf="editMode; else clientEmail"
              appearance="fill"
            >
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
              <mat-error *ngIf="clientForm.controls['email'].errors?.required"
                >This field is required</mat-error
              >
              <mat-error *ngIf="clientForm.controls['email'].errors?.email"
                >Not a valid email</mat-error
              >
            </mat-form-field>
            <ng-template #clientEmail>
              <h5 class="client-info-row__title">Email</h5>
              <div class="client-info-row__content">{{ client.email }}</div>
            </ng-template>
          </div>
          <div class="client-info-row__item">
            <mat-form-field
              *ngIf="editMode; else clientPhone"
              appearance="fill"
            >
              <mat-label>Phone</mat-label>
              <ngx-mat-intl-tel-input
                [preferredCountries]="['ua', 'ca', 'lv']"
                [enableSearch]="true"
                [enablePlaceholder]="true"
                [format]="'national'"
                name="phone"
                formControlName="phone"
              ></ngx-mat-intl-tel-input>
              <mat-error *ngIf="clientForm.controls['phone'].errors?.required">
                This field is required
              </mat-error>
              <mat-error *ngIf="clientForm.controls['phone'].errors?.validatePhoneNumber">
                Please enter valid phone namber
              </mat-error>
            </mat-form-field>
            <ng-template #clientPhone>
              <h5 class="client-info-row__title">Phone</h5>
              <div class="client-info-row__content">{{ client.phone }}</div>
            </ng-template>
          </div>
        </div>
        <div class="client-info-row">
          <div class="client-info-row__item">
            <mat-form-field
              *ngIf="editMode; else clientDoctor"
              appearance="fill"
            >
              <mat-label>Attending doctor</mat-label>
              <input matInput value="{{ client.doctorId }}" disabled />
              <mat-hint>You can't change your doctor. Sorry.</mat-hint>
            </mat-form-field>
            <ng-template #clientDoctor>
              <h5 class="client-info-row__title">Attending doctor</h5>
              <div class="client-info-row__content">{{ client.doctorId }}</div>
            </ng-template>
          </div>
          <div class="client-info-row__item" *ngIf="client.sex === 'female'">
            <mat-form-field
              *ngIf="editMode; else clientPregnancy"
              appearance="fill"
            >
              <mat-label>Pregnancy</mat-label>
              <mat-select formControlName="pregnancy">
                <mat-option value="">No</mat-option>
                <mat-option value="1 trimester">1 trimester</mat-option>
                <mat-option value="2 trimester">2 trimester</mat-option>
                <mat-option value="3 trimester">3 trimester</mat-option>
                <mat-option value="4 trimester">4 trimester</mat-option>
              </mat-select>
            </mat-form-field>
            <ng-template #clientPregnancy>
              <h5 class="client-info-row__title">Pregnancy</h5>
              <div class="client-info-row__content">
                {{ client.pregnancy ? client.pregnancy : "No" }}
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="client; else spinner">
  <mat-card-content>
    <div class="client-info-row__item">
      <app-client-tests-table [tests]="tests$ | async"></app-client-tests-table>
    </div>
  </mat-card-content>
</mat-card>
<ng-template #spinner>
  <div class="loader">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
