@import "src/styles/variables.scss";

.table-list {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.action-container {
  display: flex;
  ::ng-deep {
    mat-card {
      width: 100%;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.table-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 330px;
  ::ng-deep {
    mat-card {
      margin: 0 auto;
      width: 90%;
    }
  }
  table {
    width: 100%;

    th,
    td {
      max-width: 200px;
      min-width: 20px;
      width: auto;
      padding: 0 5px;
      box-sizing: border-box;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.user-icon {
  width: 30px;
  vertical-align: middle;
}

.male-icon {
  position: relative;
  left: 3px;
}

.female-icon {
  position: relative;
  left: -5px;
}

.mat-form-field {
  font-size: 14px;
  width: 90%;
  margin-right: 20px;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
}

// last test widgets block styles
.last-test-widgets-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.last-test-loop {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.but-view-all {
  width: 21.8%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.but-view-all button {
  width: 67%;
  border: 1px solid #07676c;
  color: #07676c;
  text-transform: uppercase;
}
.last-tests-block-headline {
  padding: 7px 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.28);
  margin-top: 22px;
}
.last-tests-block-headline h2 {
  color: rgba(0, 0, 0, 0.28);
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 10px;
  letter-spacing: 1px;
  margin: 0;
  line-height: 1;
  padding: 0;
}

//
////end last test widgets block styles
//.mobile-hide {
//  @media screen and (max-width: mobile-width) {
//    display: none;
//  }
//}
