
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8" *ngIf="clients?.length && dataSource">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Logo </th>
        <td mat-cell *matCellDef="let row">
            <div class="avatar table-avatar" >
                <img alt="" [src]="row?.photo">
            </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Surname </th>
        <td mat-cell *matCellDef="let row"> {{row.surname}} </td>
      </ng-container> 
        
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <ng-container matColumnDef="sex">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sex </th>
        <td mat-cell *matCellDef="let row"> {{row.sex}} </td>
      </ng-container>  
    
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
        <td mat-cell *matCellDef="let row"> {{row.age}} </td>
      </ng-container>  
    
      <ng-container matColumnDef="pregnancy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pregnancy </th>
        <td mat-cell *matCellDef="let row"> {{row.pregnancy}} </td>
      </ng-container>  
    
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
        <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>

      <ng-container matColumnDef="profile">
        <th mat-header-cell *matHeaderCellDef> Profile </th>
        <td mat-cell *matCellDef="let row">
            <button
            mat-raised-button
            color="primary"
            (click)="goToClient(row.id)">Open</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="add-new">
        <th mat-header-cell *matHeaderCellDef> Add new </th>
        <td mat-cell *matCellDef="let row">
            <button
            mat-raised-button
            color="primary"
            (click)="add(row.addNew)">Add new</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
