@import "../../../styles/colors.less";
@import "../../../styles/variables.less";

:host {
  ::ng-deep mat-card {
    margin: 10% auto;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;

    @media screen and (max-width: @mobile-width) {
      margin: 0 auto;
    }
  }
}

.registration-container {
  display: flex;
  justify-content: space-around;

  @media screen and (max-width: @mobile-width) {
    flex-direction: column-reverse;
  }
}

.invalid-feedback {
  width: 200px;
  margin: 0 auto;
  text-align: left;
  position: relative;
  bottom: 10px;
  color: @color-error;
}

.form-group {
  display: flex;
  justify-content: space-between;
  max-width: 430px;
  margin: 0 auto;

  &_container {
    margin: 0 3px;

    &_title {
      color: @color-black-third;
    }

    @media screen and (max-width: @mobile-width) {
      width: 100%;
    }
  }

  @media screen and (max-width: @mobile-width) {
    flex-direction: column;
  }
}

.full-width {
  width: 100%;
}

.full-width_mobile {
  @media screen and (max-width: @mobile-width) {
    width: 100%;
  }
}

.image-description {
  margin: 5px;
  font-size: 20px;
  font-weight: 900px;
  color: @color-black-secondary;
}

.form-controls {
  justify-content: space-around;
}

.header_logo {
  width: 100px;
  font-weight: 900;
  color: @color-crepuscule;

  @media screen and (max-width: @mobile-width) {
    width: 50px;
  }
}

img {
  margin-top: 50px;
  max-width: 100%;

  @media screen and (max-width: @mobile-width) {
    width: 300px;
    max-width: 50%;
  }
}
