@import "src/styles/colors";

:host {
  ::ng-deep {
    .mat-tab-group.vertical {
      flex-direction: row;
      min-height: 400px;
      border-radius: 4px;
      box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0px rgba(0, 0, 0, 0.14), 0 1px 3px 0px rgba(0, 0, 0, 0.12);
      overflow: hidden;
    }
    .mat-tab-header {
      background-color: #FEFCFF;
    }
    .mat-tab-list {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .mat-tab-body-wrapper {
      width: 100%;
      padding: 30px 20px;
    }
    .vertical .mat-tab-labels {
      flex-direction: column;
    }
    .mat-ink-bar {
      background-color: transparent !important;
    }
    mat-form-field {
      width: 100%;
    }
    .mat-form-field-infix {
        width: auto;
    }
    .custom-spinner circle{   
        stroke: #fff;
    }
    .mat-tab-body-content {
      padding-left: 10px;
    }
  }
}

.user-settings {
  &__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.client-card-title {
  display: flex;
  align-items: center;
  line-height: 1;
  padding-bottom: 16px;
  font-size: 1.3rem;
  &__id {
      margin-right: 16px;
      background-color: @color-blue-sky;
      color: #ffffff;
      padding: 0.2em 0.5em;
  }
  &__fullname {
      font-weight: bold;
  }
}

.client-card-grid {
  display: flex;
  height: 100%;
  // margin: -16px;
  // margin-bottom: 16px;
  &__col {
    display: flex;
    flex-direction: column;
    padding: 16px;
    &:nth-child(1) {
        flex-shrink: 0;
    }
    &:nth-child(2), &:last-child {
        flex-grow: 1;
    }
  }
  &__action {
    margin-top: auto;
    button + button {
      margin-left: 15px;
    }
  }
}

.user-icon {
  width: 150px;
}

.client-info-row {
  display: flex;
  & + & {
      margin-top: 20px;
  }
  &__item {
      flex: 1 1 100%;
      & + & {
          margin-left: 16px;
      }
  }
  &__title {
      color: rgba(0, 0, 0, .6);
      border-bottom: 1px solid rgba(0, 0, 0, .12);
  }
  &__content {
      margin-left: 10px;
  }
}

.custom-spinner {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}