<mat-card>
  <div class="header">
    <div class="header_logo">Medeor</div>
  </div>
  <div *ngIf="error" class="alert alert-danger">
    {{ error }}
  </div>
  <div class="registration-container">
    <div class="registration-container_form">
      <h2 class="registration-container_form_title">Who you are?</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="form-group_container">
            <mat-form-field appearance="fill" class="full-width_mobile">
              <mat-label>First name</mat-label>
              <input
                matInput
                formControlName="name"
                class="form-control full-width_mobile"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
              />
            </mat-form-field>
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">First Name is required</div>
            </div>
          </div>
          <div class="form-group_container">
            <mat-form-field appearance="fill" class="full-width_mobile">
              <mat-label>Last name</mat-label>
              <input
                matInput
                formControlName="surname"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.surname.errors }"
              />
            </mat-form-field>
            <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
              <div *ngIf="f.surname.errors.required">Last Name is required</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-group_container">
            <mat-form-field appearance="fill" class="full-width_mobile">
              <mat-label>E-mail</mat-label>
              <input
                matInput
                formControlName="email"
                name="username"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              />
            </mat-form-field>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
          </div>
          <div class="form-group_container">
            <mat-form-field appearance="fill" class="full-width_mobile">
              <mat-label>Phone*</mat-label>
              <input
                matInput
                formControlName="phone"
                name="phone"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
              />
            </mat-form-field>
            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
              <div *ngIf="f.phone.errors.required">Phone is required</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-group_container">
            <mat-form-field
              appearance="fill"
              class="full-width_mobile password-block"
            >
              <mat-label>Password</mat-label>
              <input
                matInput
                [type]="hidePass ? 'password' : 'text'"
                formControlName="pass"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.pass.errors }"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hidePass = !hidePass"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePass"
              >
                <mat-icon>
                  {{ hidePass ? "visibility_off" : "visibility" }}
                </mat-icon>
              </button>
            </mat-form-field>
            <div *ngIf="submitted && f.pass.errors" class="invalid-feedback">
              <div *ngIf="f.pass.errors.requiredq">Password is required</div>
              <div *ngIf="f.pass.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="form-group_container">
            <mat-form-field
              appearance="fill"
              class="full-width_mobile password-block"
            >
              <mat-label>Confirm</mat-label>
              <input
                matInput
                [type]="hideConfirmPass ? 'password' : 'text'"
                formControlName="confirm"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.confirm.errors }"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hideConfirmPass = !hideConfirmPass"
                [attr.aria-label]="'Hide Confirm password'"
                [attr.aria-pressed]="hideConfirmPass"
              >
                <mat-icon>
                  {{ hideConfirmPass ? "visibility_off" : "visibility" }}
                </mat-icon>
              </button>
            </mat-form-field>
            <div *ngIf="submitted && f.confirm.errors" class="invalid-feedback">
              <div *ngIf="f.confirm.errors.compareTo">
                Those passwords didn’t match. Try again.
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Link to photo</mat-label>
            <input
              matInput
              formControlName="photo"
              class="form-control full-width"
            />
          </mat-form-field>
        </div>
        <div class="form-group form-controls">
          <button
            mat-raised-button
            color="primary"
            [disabled]="loading"
            class="btn btn-primary"
          >
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1"
            ></span>
            Register
          </button>
          <button
            mat-button
            color="primary"
            routerLink="/login"
            [disabled]="loading"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
    <div class="registration-container_description">
      <img
        class="image"
        width="300"
        src="../../../assets/img/doctors.jpg"
        alt="user icon"
      />
      <p class="image-description">Describe yourself</p>
    </div>
  </div>
</mat-card>
