<div class="user">
  <svg class="user__sign" viewBox="0 0 25 25">
    <text
      x="50%"
      y="50%"
      dy="1"
      dominant-baseline="middle"
      text-anchor="middle"
      font-size="11"
      fill="#fff"
    >
      {{ userData.name[0] + userData.surname[0] | uppercase }}
    </text>
  </svg>
  <img
    *ngIf="userData.photo && !hideImage"
    src="{{ userData.photo }}"
    class="user__img"
    (error)="hideImage = true"
    (load)="hideImage = false"
    alt="avatar"
  />
  <ng-content></ng-content>
</div>
