<div class="user" [matMenuTriggerFor]="menu">
    {{data.name[0] + data.surname[0] | uppercase}}
    <img *ngIf="data.photo" src="{{data.photo}}" alt="avatar" class="user__img">
</div>

<mat-menu #menu xPosition="before">
    <div class="user-info">
        <div class="user-info__img">
            <div class="user">
                {{data.name[0] + data.surname[0] | uppercase}}
                <img *ngIf="data.photo" src="{{data.photo}}" alt="avatar" class="user__img">
            </div>
        </div>
        <div class="user-info__text">
            <div class="user-info__name">{{data.name | titlecase}} {{data.surname | titlecase}}</div>
            <div class="user-info__email">{{data.email}}</div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <a routerLink="{{currentUser.userId}}" mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
    </a>
    <a routerLink="user-settings" mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
    </a>
    <mat-divider></mat-divider>
    <button class="mat-icon mat-warn" mat-menu-item (click)="logout()">
        <mat-icon color="warn">exit_to_app</mat-icon>
        <span>Logout</span>
    </button>
</mat-menu>