<div class="container">
  <header>
    <h1><mat-icon>person</mat-icon> Create new Test</h1>
  </header>

  <form>
    <div class="client-info-row">
      <div class="client-info-row__item">
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput [formControl]="titleCtrl" />
        </mat-form-field>
      </div>
    </div>
    <div class="client-info-row">
      <div class="client-info-row__item">
        <mat-form-field appearance="fill">
          <mat-label>Code</mat-label>
          <input matInput [formControl]="codeCtrl" />
        </mat-form-field>
      </div>
    </div>
    <div class="client-info-row">
      <div class="client-info-row__item">
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            rows="5"
            [formControl]="descriptionCtrl"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="client-info-row">
      <div class="client-info-row__item">
        <mat-form-field appearance="fill">
          <mat-label>Unit</mat-label>
          <input matInput [formControl]="unitCtrl" />
        </mat-form-field>
      </div>
    </div>
    <div class="client-info-row">
      <div class="client-info-row__item">
        <div class="client-info-row__item">
          <mat-form-field appearance="fill" [formGroup]="refValueCtrl">
            <mat-label>Min</mat-label>
            <input matInput formControlName="min" />
          </mat-form-field>
        </div>

        <div class="client-info-row__item">
          <mat-form-field appearance="fill" [formGroup]="refValueCtrl">
            <mat-label>Max</mat-label>
            <input matInput formControlName="max" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>

  <footer class="footer">
    <button
      class="footer-btn"
      mat-raised-button
      color="primary"
      [disabled]="loading"
      (click)="submit()"
    >
      <ng-template [ngIf]="loading" [ngIfElse]="saveText">
        <mat-spinner class="custom-spinner" diameter="20"></mat-spinner>
        Creating
      </ng-template>
      <ng-template #saveText>
        <mat-icon>add_circle</mat-icon>
        Create
      </ng-template>
    </button>
    <button
      [mat-dialog-close]="testsList"
      class="footer-btn"
      mat-raised-button
      color="warn"
    >
      <mat-icon>cancel</mat-icon>
      Cancel
    </button>
  </footer>

  <div class="after-create" *ngIf="submitted">
    <h2 class="after-create__title">
      Test was created. Would you like create another test?
    </h2>
    <div class="after-create-buttons">
      <button
        class="footer-btn"
        mat-raised-button
        color="primary"
        (click)="closeAfterSubmitModal()"
      >
        <mat-icon>add_circle</mat-icon>
        Create another
      </button>
      <button
        [mat-dialog-close]="testsList"
        class="footer-btn"
        mat-raised-button
        color="warn"
      >
        <mat-icon>cancel</mat-icon>
        Close
      </button>
    </div>
  </div>
</div>
