<div class="container">
  <div class="action-buttons">
    <div class="sidebar__search-bar">
      <app-search-bar></app-search-bar>
    </div>
    <button mat-button routerLink="/" routerLinkActive="active">
      <span class="button-content">
        <mat-icon
          aria-hidden="false"
          aria-label="Example group icon"
          class="button-icon"
        >
          groups
        </mat-icon>
        List of clients
      </span>
    </button>
    <button mat-button routerLink="constructor" routerLinkActive="active">
      <span class="button-content">
        <mat-icon
          aria-hidden="false"
          aria-label="Example widgets icon"
          class="button-icon"
        >
          widgets
        </mat-icon>
        Constructor of tests
      </span>
    </button>
    <button mat-button routerLink="/" disabled>
      <span class="button-content">
        <mat-icon
          aria-hidden="false"
          aria-label="Example feed icon"
          class="button-icon"
        >
          feed
        </mat-icon>
        Norms
      </span>
    </button>
  </div>
</div>
