$color-sr-lake: #627d77;
$color-chili: #e00034;
$color-error: #f44336;
$color-sunset: #ffa02f;
$color-ultraviolet: #761092;
$color-bougainvillea: #e0119d;
$color-crepuscule: #0090ac;
$color-blue-sky: #a6c4c8;
$color-forest: #007934;
$color-lime: #c9dd03;
$color-hex: #07676c;

$color-background-top-part: #f5f5f5;
$color-background: #f0f0f0;

$color-black-main: rgba(0, 0, 0, 0.87);
$color-black-secondary: rgba(0, 0, 0, 0.54);
$color-black-third: rgba(0, 0, 0, 0.38);

$color-grey-divider: rgba(33, 33, 33, 0.12);

$divider-color: rgba(0, 0, 0, 0.12);
