@import "src/styles/variables";

table {
  width: 100%;
}

.table-list {
  display: flex;
  align-items: center;
}

.mat-form-field {
  font-size: 14px;
  width: 90%;
  margin-right: 20px;
}

.test-template_controllers {
  display: flex;
  justify-content: space-between;
  width: 155px;
}

.test_table-container {
  overflow: auto;
}
