<div class="container">
    <header>
      <h1><mat-icon>person</mat-icon> Create new Test </h1>
    </header>
  
    <form [formGroup]="newTestGroupForm">
          <div class="form-section">
            <div class="form-group">
              <mat-form-field>
                <mat-label>Code</mat-label>
                <input
                  required
                  matInput
                  formControlName="code"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.code.errors }" />
                <mat-error *ngIf="f.code.invalid">{{getErrorMessage(f.code)}}</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-label>Ref value</mat-label>
                <input
                  required
                  matInput
                  formControlName="refValue"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.refValue.errors }" />
                <mat-error *ngIf="f.refValue.invalid">{{getErrorMessage(f.refValue)}}</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-label>Title</mat-label>
                <input
                  required
                  matInput
                  formControlName="title"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                <mat-error *ngIf="f.title.invalid">{{getErrorMessage(f.title)}}</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-label>Description</mat-label>
                <input
                  required
                  matInput
                  formControlName="description"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                <mat-error *ngIf="f.description.invalid">{{getErrorMessage(f.description)}}</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-label>Unit</mat-label>
                <input
                  required
                  matInput
                  formControlName="unit"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.unit.errors }" />
                <mat-error *ngIf="f.unit.invalid">{{getErrorMessage(f.unit)}}</mat-error>
              </mat-form-field>
            </div>
          </div>

          <p class="error-message" *ngIf="errorValidation">
            {{ errorValidation }}
          </p>
          <p class="error-message" *ngIf="errorHttp">
            {{ errorHttp }}
          </p>
          <p *ngIf="message">
            {{ message }}
          </p>
          <div class="action-buttons">
            <ng-template [ngIf]="loading" #loadingTemplate>
              <mat-spinner [diameter]="24"></mat-spinner>
            </ng-template>
            <button mat-raised-button
                    color="primary"
                    [disabled]="loading"
                    (click)="onSubmit()">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              CREATE
            </button>
            <button mat-button
                    color="primary"
                    (click)="closeOverlay()">
              CLOSE
            </button>
          </div>
    </form>
  </div>
  