.container {
  position: relative;
}
.container-content {
  display: flex;
  justify-content: space-around;
  div {
    flex: 1;
  }
}

.custom-spinner {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

button {
  margin-top: 35px;
  margin-left: 10px;
}

.after-create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -24px;
  left: -24px;
  bottom: -24px;
  right: -24px;
  z-index: 5;
  background-color: #ffffff;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .registration-container {
    flex-direction: column-reverse;
  }
}
