<div class="change-password-container">
    <h2 class="change-password-heading">Change password</h2>

    <form [formGroup]="changePasswordForm" class="change-password-form" (ngSubmit)="changePassword();">

        <!-- enter old password -->
        <mat-form-field appearance="legacy" class="input-block-change-pass">

            <mat-label>Old password</mat-label>

            <input 
            matInput
            formControlName="oldPass" 
            [type]="hideOld ? 'password' : 'text'">

            <button mat-icon-button matSuffix (click)="hideOld = !hideOld" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOld">
                <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            <mat-error *ngIf="f.oldPass.invalid">{{getErrorMessageOldPass()}}</mat-error>

        </mat-form-field>

        <!-- enter new password -->
        <mat-form-field appearance="legacy" hintLabel="Min 6 characters" class="input-block-change-pass">

            <mat-label>New password</mat-label>

            <input
            #inputNewPass 
            matInput 
            formControlName="newPass"
            [type]="hideNew ? 'password' : 'text'">

            <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNew">
                <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            <mat-hint align="end" 
            [ngClass]="{ 'new-pass-invalid': f.newPass.invalid && f.newPass.touched }"
            [ngClass]="{'new-pass-done': f.newPass.valid }">
            {{inputNewPass.value?.length || 0}}/6
            </mat-hint>

            <mat-error *ngIf="f.newPass.invalid">{{getErrorMessageNewPass()}}</mat-error>

        </mat-form-field>

        <!-- confirm new password -->
        <mat-form-field appearance="legacy" class="input-block-change-pass">

            <mat-label>Confirm new password</mat-label>

            <input 
            matInput 
            formControlName="confirmPass"
            [type]="hideConfirm ? 'password' : 'text'">

            <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
                <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            <mat-error *ngIf="f.confirmPass.invalid">{{getErrorMessageConfirmPass()}}</mat-error>

        </mat-form-field>

        <!-- buttons: submit and cancel -->
        <div class="buttons-change-pass">
            <button 
            mat-button 
            color="primary"
            (click)="resetForm();">
            Cancel
            </button>

            <button 
            mat-raised-button 
            color="primary">
            Change password
            </button>
        </div>

    </form>
</div>