<div class="change-password-container">
  <h2 class="change-password-heading">Change password</h2>

  <form [formGroup]="changePasswordForm" class="change-password-form">
    <!-- enter old password -->
    <mat-form-field appearance="legacy" class="input-block-change-pass">
      <mat-label>Old password</mat-label>

      <input
        matInput
        formControlName="oldPass"
        (input)="oldPassOninput()"
        class="passInput"
        [type]="hideOld ? 'password' : 'text'"
      />

      <span class="material-icons iconDone" @showHide *ngIf="isOldValid">
        done_outline
      </span>

      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hideOld = !hideOld"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideOld"
      >
        <mat-icon>{{ hideOld ? "visibility_off" : "visibility" }}</mat-icon>
      </button>

      <mat-error *ngIf="f.oldPass.invalid">{{
        getErrorMessageOldPass()
      }}</mat-error>
    </mat-form-field>

    <!-- enter new password -->
    <mat-form-field
      appearance="legacy"
      hintLabel="Min 6 characters"
      class="input-block-change-pass"
    >
      <mat-label>New password</mat-label>

      <input
        #inputNewPass
        matInput
        formControlName="newPass"
        (input)="newPassOninput()"
        class="passInput"
        [type]="hideNew ? 'password' : 'text'"
      />

      <span class="material-icons iconDone" @showHide *ngIf="isNewValid">
        done_outline
      </span>

      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hideNew = !hideNew"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideNew"
      >
        <mat-icon>{{ hideNew ? "visibility_off" : "visibility" }}</mat-icon>
      </button>

      <mat-hint
        align="end"
        [ngClass]="{
          'new-pass-invalid': f.newPass.invalid && f.newPass.touched
        }"
        [ngClass]="{ 'new-pass-done': f.newPass.valid }"
      >
        {{ inputNewPass.value?.length || 0 }}/6
      </mat-hint>

      <mat-error *ngIf="f.newPass.invalid">{{
        getErrorMessageNewPass()
      }}</mat-error>
    </mat-form-field>

    <!-- confirm new password -->
    <mat-form-field appearance="legacy" class="input-block-change-pass">
      <mat-label>Confirm new password</mat-label>

      <input
        matInput
        formControlName="confirmPass"
        (input)="confirmPassOninput()"
        class="passInput"
        [type]="hideConfirm ? 'password' : 'text'"
      />

      <span class="material-icons iconDone" @showHide *ngIf="isConfirmValid">
        done_outline
      </span>

      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hideConfirm = !hideConfirm"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideConfirm"
      >
        <mat-icon>{{ hideConfirm ? "visibility_off" : "visibility" }}</mat-icon>
      </button>

      <mat-error *ngIf="f.confirmPass.invalid">{{
        getErrorMessageConfirmPass()
      }}</mat-error>
    </mat-form-field>

    <!-- buttons: submit and cancel -->
    <div class="buttons-change-pass">
      <button
        class="btn-cancel"
        mat-button
        color="primary"
        type="reset"
        (click)="cancelChange()"
      >
        Cancel
      </button>

      <button
        class="btn-submit"
        mat-raised-button
        color="primary"
        (click)="changePassword()"
        [disabled]="!changePasswordForm.valid"
      >
        <mat-spinner
          *ngIf="loader; else submitText"
          class="spinner-change-pass"
          diameter="20"
        ></mat-spinner>
        <ng-template #submitText>Change password</ng-template>
      </button>
    </div>

    <!-- success message - pass is changed -->
    <div
      *ngIf="changeSuccess"
      class="pass-change-message success-pass"
      @showHide
    >
      <span class="material-icons"> check_circle </span>
      <p>Password is changed!</p>
    </div>

    <!-- error message - pass is not changed -->
    <div *ngIf="changeError" class="pass-change-message error-pass" @showHide>
      <span class="material-icons"> error </span>
      <p>
        Error. Try again or
        <button
          type="button"
          class="btn-contact-error"
          color="warn"
          mat-stroked-button
          (click)="contactUsModalOpen()"
        >
          contact us
        </button>
      </p>
    </div>
  </form>
</div>
