// Theming for app

button.mat-primary.mat-raised-button:not(.mat-icon-button) {
  background-color: #07676c !important;
}
.mat-button.mat-primary,
.button-icon {
  color: #07676c;
}
.mat-mini-fab {
  background-color: #07676c !important;
}
.mat-stroked-button {
  color: #07676c !important;
}
.mat-step-icon-selected,
.mat-step-icon-state-edit {
  background-color: #07676c !important;
}
.sidenav {
  min-width: 200px;
  h1 {
    padding: 0 20px;
    margin: 18px 0;
    text-align: center;
    line-height: 27px;
  }
}
.mat-drawer-content {
  background: url('/assets/img/blue-background.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.section-container {
  padding: 20px;
}
.card {
  display: flex;
  align-items: center;
}
.avatar {
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}
.mat-menu-content:not(:empty) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.mat-drawer-content {
  min-height: 100vh !important;
}
.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #07676c;
}
