<ng-template [ngIf]="submited" [ngIfElse]="contactForm">
    <h1 mat-dialog-title align="center">Thanks {{userName}} for your message</h1>
    <div mat-dialog-content align="center">We will contact you shortly to your e-mail {{userEmail}}</div>
    <div mat-dialog-actions align="center">
        <button class="form-button" mat-raised-button color="basic" mat-dialog-close>Close</button>
    </div>
</ng-template>

<ng-template #contactForm>
    <h1 mat-dialog-title>You can trust me</h1>
    <div mat-dialog-content>
        <form class="form-grid" [formGroup]="contactUs">
            <div class="form-grid__item form-grid__item_half">
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input type="text" #userNameInput matInput formControlName="userName" placeholder="Type your name">
                    <mat-hint>How we can call you?</mat-hint>
                    <mat-error *ngIf="contactUs.controls['userName'].invalid">
                      Please enter your name
                    </mat-error>
                  </mat-form-field>
            </div>
            <div class="form-grid__item form-grid__item_half">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" #userEmailInput formControlName="userEmail" matInput placeholder="Ex. pat@example.com">
                    <mat-hint>How we can contact with you?</mat-hint>
                    <mat-error *ngIf="contactUs.controls['userEmail'].invalid">
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field>
            </div>
            <div class="form-grid__item">
                <mat-form-field class="example-full-width">
                    <mat-label>Leave a comment</mat-label>
                    <textarea matInput formControlName="message" placeholder="Ex. It makes me feel..."></textarea>
                    <mat-error *ngIf="contactUs.controls['message'].invalid">
                        Please leave a comment
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div mat-dialog-actions align="end">
        <button class="form-button" mat-raised-button color="primary" [disabled]="contactUs.invalid || pending" (click)="submit()">
            <mat-spinner *ngIf="pending else submitText" class="custom-spinner" diameter="20"></mat-spinner>
            <ng-template #submitText>Submit</ng-template>
        </button>
        <button class="form-button" mat-raised-button color="basic" mat-dialog-close>Close</button>
    </div>
</ng-template>