.user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    background-color:#2196F3;
    font-family: sans-serif;
    font-size: 20px;
    color: #ffffff;
    position: relative;
    &__img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
}