@import "src/styles/variables.scss";

table {
  width: 100%;

  th,
  td {
    max-width: 200px;
    width: auto;
    min-width: 20px;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.test-group_table-container {
  overflow: auto;
}

.table-list {
  display: flex;
  align-items: center;
}

.mat-form-field {
  font-size: 14px;
  width: 90%;
  margin-right: 20px;
}

.table-avatar {
  width: 40px;
  height: 40px;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}
.test-group_cell {
  padding: 5px;
}
.example-element-detail {
  overflow: hidden;
  // display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
// last test widgets block styles
.last-test-widgets-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.last-test-loop {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.but-view-all {
  width: 21.8%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.but-view-all button {
  width: 67%;
  text-transform: uppercase;
}
.last-tests-block-headline {
  padding: 7px 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.28);
  // border-top: 1px dotted rgba(0, 0, 0, 0.28);
  margin-top: 22px;
}
.last-tests-block-headline h2 {
  color: rgba(0, 0, 0, 0.28);
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 10px;
  letter-spacing: 1px;
  margin: 0;
  line-height: 1;
  padding: 0;
}
//end last test widgets block styles
